<nav>
  <div class="logo">
    <a href="#"><img src="assets/images/link.png" alt="Logo"></a>
  </div>
  <div class="search">
    <input type="text" placeholder="Buscar">
    <i class="fa-solid fa-magnifying-glass ico"></i>
  </div>

  <div class="icons">
    <ul>
      <li><a href="#" class="textt"><i class=""> <img class="imgI " src="assets/images/home.png" alt="Icono"> </i> <span class="tex"> Inicio</span></a></li>
      <li><a href="#" class="textt"><i class=""> <img class="imgI " src="assets/images/red.png" alt="Icono"> </i><span class="tex"> Mi red</span></a></li>
      <li><a href="#" class="textt"><i class=""> <img class="imgI " src="assets/images/case.png" alt="Icono"> </i><span class="tex"> Empleos</span></a></li>
      <li><a href="#" class="textt"><i class=""> <img class="imgI " src="assets/images/mess.png" alt="Icono"> </i> <span class="tex"> Mensajes</span></a></li>
      <li><a href="#" class="textt"><i class=""> <img class="imgI " src="assets/images/bell.png" alt="Icono"> </i><span class="tex"> Notificaciones</span></a></li>
      <li><a href="#" class="textt"><i class=""> <img class="imgI " src="assets/images/pho.png" alt="Icono"> </i><span class="tex"> <button class="btn butt btn-info btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Yo
      </button></span></a></li>
      <li><a href="#" class="textt"><i class=""> <img class="imgI " src="assets/images/prod.png" alt="Icono"> </i> <span class="tex"> <button class="btn butt btn-info btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Productos
      </button></span></a></li>
      <li><a href="#" class="textt"><i class=""> <img class="imgI " src="assets/images/publi.png" alt="Icono"> </i><span class="tex"> Publicidad</span></a></li>
    
    </ul>
  </div>
</nav>
